@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNeue-73';
  src: url("../fonts/HelveticaNeue/W01_73/BdEx.woff2") format('woff2'),
  url("../fonts/HelveticaNeue/W01_73/BdEx.woff") format('woff');
}

@font-face {
  font-family: 'HelveticaNeue-93';
  src: url('../fonts/HelveticaNeue/W01_93/BlkEx.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/W01_93/BlkEx.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeue-53';
  src: url('../fonts/HelveticaNeue/W05_53/Ext.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/W05_53/Ext.woff') format('woff');
}

.helveticaNeue-73 {
  font-family: 'HelveticaNeue-73', sans-serif;
}

.helveticaNeue-93 {
  font-family: 'HelveticaNeue-93', sans-serif;
}

.helveticaNeue-53 {
  font-family: 'HelveticaNeue-53', sans-serif;
}

.text-10xl {
  font-size: 10rem;
  line-height: 1;
}

.align-sup {
  vertical-align: 50%;
  font-size: 50%;
}
